* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    --text-size-lg: 2rem;
    --text-size-md: 1.5rem;
    --text-size-sm: .75rem;
}

#wrapper {
    width: 500px;
    margin: 50px auto;
}

#current-weather-container {
    display: grid;
    grid-template-areas: 
        'title title'
        'icon icon';
    grid-template-rows: 50px 100px;
    grid-template-columns: 50%;
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    padding: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        padding: 5px;
    }

    .title {
        grid-area: title;
        font-size: var(--text-size-md);
    }

    .icon {
        grid-area: icon;
    }

    label {
        font-size: 1rem;
    }

    .data {
        /* border: 1px solid black;
        border-radius: 999px; */
        padding: 5px;
        min-width: auto;
    }
}

#gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}